.form {
    margin: 200px;
    position: center;
    border: 4px solid rgb(53, 48, 48);
    box-sizing: border-box;
}
.title p{
    font-size: 40px;
    color: #7b89d8;
    text-align: center;
}

.formContent{
    border: 1px solid #ccc;
}
.inputField {
    margin: 10px;
    block-size: 50px;
    background-color: #7b89d8;
    border: 2px solid rgb(122, 122, 122);
    text-align: center;
    box-sizing: border-box;
    font-size: 30px;
}
.image{
    height: auto;
    width: auto;;
}
.submitButton {
    text-align: center;
    margin: 20px;
  }